* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-header {
    width: auto;
    background-color: #e9ecef;
}

.img-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-header {
    margin: 20px;
}

.h5-header {
    font-size: 15px;
    font-weight: 700;
}

.p-header {
    font-size: 15px;
}

.header-return {
    display: flex;
    justify-content: flex-end;
}

.header-return a {
    text-decoration: none;
}

.p-header-return {
    color: black;
    font-size: 15px;
    font-weight: 800;
}

.p-header-return:hover{
    color: rgb(150, 149, 149);
}

/* SECTION FORM */ 

.section-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    width: 60%;
    padding: 50px;
}

.fieldset-basic-data {
    border: none;
    margin:10px;
}

.legend-data {
    font-size: 22px;
    font-weight: 800;
    padding-bottom: 20px;
}

.label-data {
    padding-right: 30px;
    padding-left: 15px;
    font-size: 20px;
}

.personal-information {
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.input {
    border-style: dotted;
    padding: 10px;
    border-top:none;
    border-right: none;
    border-left: none;
    width: auto;
    width: 25%;
}

.information {
    border-bottom: solid 1px black;
}

.personal-information-2 {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
}

.select-box {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: 100px;
}

.newsletter {
    margin-top:40px;
    display: flex;
    flex-direction: column;
}

.h5-newsletter {
    font-size: 20px;
    font-weight: 600;
}

.p-newsletter {
    font-size: 17px;
    margin-right: 20px;
}

.checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.button-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 50px;
    background-color: black;
    border: none;
}

.button-form:hover {
    background-color: red;

}

.p-button-form {
    color: white;
    font-size: 17px;
    font-weight: bold;
}

.p-politics {
    padding-top: 10px;
    font-size: 13px;
}
