.header-form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-header {
    width: auto;
    background-color: #e9ecef;
}

.img-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-header {
    margin: 20px;
}

.h5-header {
    font-size: 15px;
    font-weight: 700;
}

.p-header {
    font-size: 15px;
}