* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body,
#root {
  height: 100%;
}

.header {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    height: 100%;
    border-bottom: solid 1px black;
}

.nav {
    display: flex;
    flex-direction: row;
}

.nav-left {
    width: 90%;
    display: flex;
    align-items: center;
}

.nav-left img {
    margin-left:30px;
}

.nav-left span {
    padding:10px;
    margin-right:15px;
}

.nav-left a{
    font-weight: 500;
    color:rgb(177, 177, 177);
}

.nav-left a:hover{
    font-weight: 500;
    color:rgb(26, 24, 24);
}

.nav-right {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* SECTION INFO Q-$ */ 

.info-q4 {
    background-image: url("../../assets/audi-q4.jpg");
    height: 100%;
}

.box-info-q4 {
    display: flex;
    flex-direction: column;
    padding: 80px;
}

.h1_q4 {
    color: white;
    font-size: 40px;
    width: 25%;
}

.h2_q4 {
    color: white;
    margin-bottom: 30px;
    width: 30%;
    font-size: 21px;
    font-weight: 500;
}

.button_q4 {
    width: 15%;
    height: 50px;
    background-color: white;
    border: none;
}

.button_q4:hover {
    background-color: #e9ebec;
}

.button_q4 p {
    color: black;
}

/* SECTION CAPTION Q4 */ 

.caption-q4 {
    height: 40%;
}

.box-caption-q4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.h3_caption {
    margin: 20px;
    padding: 10px;
    font-size: 50px;
    font-weight: 500;
    width: 45%;
    text-align: center;
}

.p_caption {
    padding: 10px;
    text-align: center;
    width: 60%;
    font-size: 15px;
}

/* SECTION AUDI Q4 INFO */ 

.audi-q4-info{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* height: 75%; */
}

.box-audi-q4 {
    display: flex;
    flex-direction: row;
}

.img-audi-q4 {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.information-audi-q4 {
    height: 93%;
    color:white;
    background-color: black;
    padding:72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.h3-information {
    margin-bottom: 100px;
    font-size: 50px;
    font-weight: 400;
    width: 100%;
    padding: 10px;
}

.li-information {
    list-style: none;
    padding-top: 15px;
}

.p-information {
    font-size: 15px;
}

.button-information {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:30px;
    background-color: black;
    height: 50px;
    border: solid 1px white;
    width: 40%;
    padding: 20px;
}

.button-information:hover {
    background-color: #3c3d3d;
}

.button-information a {
    color: white;
}

/* Section audi option */

.audi-option {
    display: flex;
}

.box-audi-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 200px;
}

.audi-option-text {
    padding: 50px;
}

.h4-audi-option {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
    width: 75%;
}

.p-audi-option {
    width: 100%;
}

.audi-option-img {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Section Innovation design */ 

.innovation-design {
    background-color: black;
}

.box-innovation-design {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.innovation-design-text {
    color: white;
    padding: 70px;
}

.h5-innovation-design {
    font-size: 25px;
    height: 60px;
    font-weight: 400;
}

.p-innovation-design {
    font-size: 15px;
}

.img-innovation-design {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Section CUSTOMIZE */ 

.customize-audi {
    display: flex;
}

.box-customize-audi {
    margin: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.customize-text {
    margin:60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
}

.h4-customize {
    font-size: 35px;
    width: 55%;
    height: 30%;
}

.p-customize {
    width: 80%;
    height: 20%;
}

.button-customize {
    border: solid 1px rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 30%;
    background-color: white;
}

.button-customize:hover {
    background-color: #e9ebec;
    border: solid 1px #e9ebec;
}

.button-customize a {
    color: black;
}

/* SECTION AUDI SPORTBACK */ 

.audi-q4-sportback {
    height: 100%;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h4-sportback {
    font-size: 55px;
    padding: 20px;
    text-align: center;
    font-weight: 400;
}

.box-audi-sportback {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.sportback-text {
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.h4-sportback-text {
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 30px;
}

.p-sportback-text {
    text-align: left;
    padding-bottom: 30px;
    font-size: 17px;
}

.button-sportback {
    background-color: white;
    border: solid 1px black;
    width: 25%;
    height: 60px;
}

.button-sportback:hover {
    background-color: #e9ebec;
    border: solid 1px #e9ebec;
}