* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body,
#root {
  height: 100%;
}

.header {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border-bottom: solid 1px black;
}

.nav {
  display: flex;
  flex-direction: row;
}

.nav-left {
  width: 90%;
  display: flex;
  align-items: center;
}

.nav-left img {
  margin-left: 30px;
}

.nav-left span {
  padding: 10px;
  margin-right: 15px;
}

.nav-left a {
  font-weight: 500;
  color: rgb(177, 177, 177);
}

.nav-left a:hover {
  font-weight: 500;
  color: rgb(26, 24, 24);
}

.nav-right {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* SECTION INFO Q-$ */

.info-q4 {
  background-image: url("../../assets/audi-q5.jpg");
  padding: 80px;
}

.box-info-q4 {
  padding: 80px;
  margin: 20px;
}

.h1_q4 {
  color: white;
  font-size: 40px;
  width: 25%;
}

.h2_q4 {
  color: white;
  margin-bottom: 30px;
  width: 30%;
  font-size: 21px;
  font-weight: 500;
}

.button_q4 {
  width: 15%;
  height: 50px;
  background-color: white;
  border: none;
}

.button_q4:hover {
  background-color: #e9ebec;
}

.button_q4 p {
  color: black;
}

/* SECTION CAPTION Q4 */

.caption-q4 {
  padding: 40px;
  margin: 20px;
}

.box-caption-q4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h3_caption {
  margin: 20px;
  padding: 10px;
  font-size: 50px;
  font-weight: 500;
  width: 45%;
  text-align: center;
}

.p_caption {
  padding: 10px;
  text-align: center;
  width: 60%;
  font-size: 15px;
}

/* SECTION AUDI Q4 INFO */

.audi-q4-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.box-audi-q4 {
  display: flex;
  flex-direction: row;
}

.img-audi-q4 {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.information-audi-q4 {
  color: white;
  background-color: black;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.h3-information {
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: 400;
  width: auto;
}

.li-information {
  margin: 10px;
  list-style: none;
}

.p-information {
  font-size: 15px;
}

.button-information {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: black;
  height: 50px;
  border: solid 1px white;
  width: auto;
  padding: 20px;
}

.button-information:hover {
  background-color: #3c3d3d;
}

.button-information a {
  color: white;
}

/* Section audi option */

.audi-option {
  padding: 10px;
  margin: 40px;
  display: flex;
}

.box-audi-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 200px;
}

.audi-option-text {
  padding: 50px;
}

.h4-audi-option {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
  width: 75%;
}

.p-audi-option {
  width: 100%;
}

.audi-option-img {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Section Innovation design */

.innovation-design {
  background-color: black;
}

.box-innovation-design {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.innovation-design-text {
  color: white;
  padding: 10px;
  margin: 20px;
}

.h5-innovation-design {
  font-size: 25px;
  height: 60px;
  font-weight: 400;
}

.p-innovation-design {
  font-size: 15px;
}

.img-innovation-design {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-innovation-design img {
  height: 800px;
}

/* Section CUSTOMIZE */

.customize-audi {
  margin: 40px;
  padding: 20px;
  display: flex;
}

.box-customize-audi {
  margin: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.customize-text {
  margin: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.h4-customize {
  font-size: 35px;
  width: 55%;
}

.p-customize {
  width: 80%;
}

.button-2 {
  display: flex;
  justify-content: flex-start;
}

.button-customize {
  border: solid 1px rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 20px;
  background-color: white;
}

.button-customize:hover {
  background-color: #e9ebec;
  border: solid 1px #e9ebec;
}

.button-customize a {
  color: black;
}

/* SECTION AUDI SPORTBACK */

.audi-q4-sportback {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.h4-sportback {
  font-size: 55px;
  padding: 20px;
  text-align: center;
  font-weight: 400;
}

.box-audi-sportback {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.sportback-text {
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.h4-sportback-text {
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 30px;
}

.p-sportback-text {
  text-align: left;
  padding-bottom: 30px;
  font-size: 17px;
}

.button-sportback {
  background-color: white;
  border: solid 1px black;
  width: 100%;
  padding: 20px;
}

.button-sportback a {
  color: black;
}

.button-sportback:hover {
  background-color: #e9ebec;
  border: solid 1px #e9ebec;
}

/* Section footer */

.footer {
  background-color: black;
  height: auto;
}

.return {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.span-return {
  color: white;
  font-size: 12px;
  font-weight: 600;
}

.footer-text {
  margin: 10px;
  padding: 100px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.box-footer {
  padding: 10px;
}

.p-footer {
  color: white;
  padding-bottom: 50px;
  font-size: 20px;
  font-weight: 400;
}

.li-footer {
  padding-bottom: 20px;
  font-size: 15px;
  list-style: none;
}

.li-footer a {
  color: white;
  font-size: 13px;
  font-weight: 300;
}

.li-footer a:hover {
  color: #6a6d6d;
}

.box-rrss {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rrss-li {
  border-bottom: solid 1px white;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 60px;
  width: 90%;
  padding: 20px;
}

.footer-text-2 {
  margin: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.box-text-2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 12px;
  padding-bottom: 30px;
}

.span-text-2 {
  padding: 10px;
}

.span-text-2 a {
  color: white;
}

.span-text-2 a:hover {
  color: #6a6d6d;
}

.footer-text-3 {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-text-3 {
  width: 95%;
}

.p-text-3 {
  color: white;
  font-size: 12px;
  padding: 20px;
}

/* MEDIA QUERY MOBILE */

@media only screen and (max-width: 767px) {

  
  .nav {
    display: none;
  }

  /* SECTION INFO Q-$ */

  .info-q4 {
    background-image: url("../../assets/audi-movile.jpg");
    padding: 0px;
  }

  .box-info-q4 {
    padding: 150px;
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .h1_q4 {
    text-align: center;
    font-size: 40px;
    padding: 10px;
    width: 300%;
    color: white;
  }

  .h2_q4 {
    color: white;
    margin-bottom: 0px;
    width: 400%;
    padding: 20px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
  }

  .button_q4 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 100px;
    background-color: white;
  }

  /* SECTION CAPTION Q4 */

  .caption-q4 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
  }

  .box-caption-q4 {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
  }

  .h3_caption {
    margin: 20px;
    padding: 10px;
    font-size: 30px;
    font-weight: 500;
    width: 100%;
    text-align: center;
  }

  .p_caption {
    padding: 10px;
    text-align: center;
    width: 100%;
    font-size: 15px;
  }

  /* SECTION AUDI Q4 INFO */

  .audi-q4-info {
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
    justify-content: center;
  }

  .box-audi-q4 {
    display: flex;
    flex-direction: column;
  }

  .img-audi-q4 {
    height: auto;
    width: 390px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .information-audi-q4 {
    color: white;
    background-color: black;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .h3-information {
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: 400;
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  .li-information {
    margin: 10px;
    list-style: none;
    padding-top: 15px;
  }

  .p-information {
    text-align: center;
    font-size: 15px;
  }

  .button-1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button-information {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color: black;
    height: 50px;
    border: solid 1px white;
    width: 60%;
    padding: 20px;
  }

  .button-information:hover {
    background-color: #3c3d3d;
  }

  .button-information a {
    color: white;
  }

  /* Section audi option */

  .audi-option {
    padding: 10px;
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .box-audi-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
  }

  .audi-option-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    padding: 50px;
  }

  .h4-audi-option {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    width: 900%;
  }

  .p-audi-option {
    padding: 20px;
    text-align: center;
    width: 1000%;
  }

  .audi-option-img {
    width: 300px;
    margin: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Section Innovation design */

  .innovation-design {
    background-color: black;
    width: 100%;
  }

  .box-innovation-design {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .img-innovation-design img {
    height: 280px;
  }

  .innovation-design-text {
    color: white;
    padding: 0px;
    text-align: center;
  }

  .h5-innovation-design {
    font-size: 25px;
    height: 60px;
    font-weight: 400;
  }

  .p-innovation-design {
    font-size: 15px;
  }

  /* Section CUSTOMIZE */

  .customize-audi {
    margin: 40px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .box-customize-audi {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .customize-img img {
    width: 300px;
  }

  .customize-text {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }

  .h4-customize {
    font-size: 30px;
    text-align: center;
    width: 100%;
  }

  .p-customize {
    width: 100%;
    font: 20px;
    padding: 20px;
    text-align: center;
  }

  .button-customize {
    border: solid 1px rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 0px;
    background-color: white;
  }

  .button-2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button-customize:hover {
    background-color: #e9ebec;
    border: solid 1px #e9ebec;
  }

  .button-customize a {
    color: black;
  }

  /* SECTION AUDI SPORTBACK */

  .audi-q4-sportback {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .h4-sportback {
    font-size: 40px;
    padding: 20px;
    text-align: center;
    font-weight: 400;
  }

  .box-audi-sportback {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
  }

  .sportback-text {
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .h4-sportback-text {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    padding: 30px;
  }

  .p-sportback-text {
    text-align: center;
    padding-bottom: 20px;
    font-size: 15px;
  }

  .button-3 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button-sportback {
    background-color: white;
    border: solid 1px black;
    width: 40%;
    height: 60px;
  }

  .button-sportback a {
    color: black;
  }

  .button-sportback:hover {
    background-color: #e9ebec;
    border: solid 1px #e9ebec;
  }

  .img-sportback img {
    width: 300px;
  }

  .footer {
    background-color: black;
    height: auto;
  }

  .return {
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  .span-return {
    color: white;
    font-size: 12px;
    font-weight: 600;
  }

  .footer-text {
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .box-footer {
    padding: 10px;
    margin: 10px;
  }

  .p-footer {
    margin: 20px;
    text-align: center;
    color: white;
    padding-bottom: 0px;
    font-size: 20px;
    font-weight: 400;
  }

  .li-footer {
    text-align: center;
    margin: 10px;
    padding-bottom: 0px;
    font-size: 15px;
    list-style: none;
  }

  .li-footer a {
    color: white;
    font-size: 13px;
    font-weight: 300;
  }

  .li-footer a:hover {
    color: #6a6d6d;
  }

  .box-rrss {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px white;
  }

  .rrss-li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
    width: auto;
    padding: 20px;
    border-bottom: none;
  }

  .lu-rrss {
    display: none;
  }

  .footer-text-2 {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .box-text-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 12px;
    padding-bottom: 10px;
  }

  .span-text-2 {
    margin: 10px;
    padding: 10px;
  }

  .span-text-2 a {
    color: white;
  }

  .span-text-2 a:hover {
    color: #6a6d6d;
  }

  .footer-text-3 {
    text-align: center;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .box-text-3 {
    width: 95%;
  }

  .p-text-3 {
    color: white;
    font-size: 12px;
    padding: 20px;
  }
}
