* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body,
#root {
  height: 100%;
}

.header {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    height: 100%;
    border-bottom: solid 1px black;
}

.nav {
    display: flex;
    flex-direction: row;
}

.nav-left {
    width: 90%;
    display: flex;
    align-items: center;
}

.nav-left img {
    margin-left:30px;
}

.nav-left span {
    padding:10px;
    margin-right:15px;
}

.nav-left a{
    font-weight: 500;
    color:rgb(177, 177, 177);
}

.nav-left a:hover{
    font-weight: 500;
    color:rgb(26, 24, 24);
}

.nav-right {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* SECTION INFO Q-$ */ 

.info-q4 {
    background-image: url("../../assets/audi-q4.jpg");
    height: 100%;
}

.box-info-q4 {
    display: flex;
    flex-direction: column;
    padding: 80px;
}

.h1_q4 {
    color: white;
    font-size: 40px;
    width: 25%;
}

.h2_q4 {
    color: white;
    margin-bottom: 30px;
    width: 30%;
    font-size: 21px;
    font-weight: 500;
}

.button_q4 {
    width: 15%;
    height: 50px;
    background-color: white;
    border: none;
}

.button_q4:hover {
    background-color: #e9ebec;
}

.button_q4 p {
    color: black;
}